.game-area{
    position: relative;
    margin: 50px auto;
    width: 800px;
    height: 800px;
    border: 2px solid;
    border-color: black;
}

.entity-body{
    position: absolute;
    width: 2%;
    height: 2%;
    border: 1px solid;
    border-color: white;
}

.snake-body{
    background-color: black;
    z-index: 2;
}

.food-body{
    background-color: red;
    z-index: 1;
}